.container {
  border-radius: 20px;
  /* background-color: rgb(173, 173, 173); */
  width: 100%;
  height: fit-content;
  text-align: justify;
  margin: 20px;
  font-size: larger;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 20px;
}
.contImg {
  border-radius: 20px;
  /* background-color: rgb(173, 173, 173); */
  width: 100%;
  height: fit-content;
  text-align: justify;
  margin: 20px;
  font-size: larger;
  margin-top: 0px;
  margin-bottom: 30px;
  /* padding: 20px; */
}

.container p {
  padding: 14px;
  padding-bottom: 0;
  margin-top: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .contImg {
    border-radius: 20px;
    /* background-color: rgb(173, 173, 173); */
    width: 100%;
    height: fit-content;
    text-align: justify;
    margin: 20px;
    font-size: larger;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
