.center {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  text-align: center; /* Center text within the div */
  margin-top: 15%;
}

.title {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  margin: 20px;
  margin-top: 0;
}
.notF {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  margin: 20px;
}

.text {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}
@media (max-width: 768px) {
  .cont {
    margin-top: 300px;
  }
}
