.contDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1%;
  margin-right: 1%;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  width: 100%;
  max-width: 350px;
}
.heightRegulator {
  height: 260px;
}

.titArticle {
  font-size: 30px;
  font-weight: bolder;
  color: rgba(14, 68, 16, 255);
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .contDiv {
    margin: 0;
    width: 90%;
  }
  .heightRegulator {
    height: fit-content;
  }
}
